@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

$background: #F1FAEE
$highlight: #E63946
$primary: #1D3557
$secondary: #3B6A88

*
  box-sizing: border-box

html, body
  background-color: $background

body
  border: 10px solid $primary
  margin: 0

  .header
    position: fixed
    z-index: 2
    top: 0
    left: 0
    width: 100%
    padding: 3rem 10rem

    .nav
      display: flex
      justify-content: space-between
      font-size: 1.2rem
      align-items: center
      background-color: $background
      padding: 1rem 2rem

      .logo-text
        border: 4px solid $highlight
        padding: .6rem .6rem
        color: $primary
        text-decoration: none
        border-radius: 5px

      #line
        border: 1px solid red
        width: 100%
        margin-left: 3.5rem

      .nav-right
        a
          margin-left: 3.5rem
          text-decoration: none
          color: $primary
          font-family: 'Roboto', sans-serif

          &:hover
            font-style: italic

  .quote-section
    position: relative
    height: calc(100vh - 5rem)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    @media only screen and (max-height: 650px)
      min-height: 800px


    #quote
      text-align: center
      margin: 5rem 0 0 0
      padding-bottom: 2rem
      font-size: 6rem
      color: $primary

    #sub-quote
      font-weight: 300
      color: $secondary
      font-size: 2rem
      margin-bottom: 5rem
      font-family: 'Open Sans', sans-serif


    .link-icons
      .fab
        color: $primary
        font-size: 2.5rem

        &:hover
          color: $highlight
          transition: .35s

      .fa-twitter
        margin: 0 3rem

    &__arrow
      display: inline-block
      position: absolute
      bottom: 2rem
      left: 50%
      transform: translateX(-50%)

    .arrow
      border: solid $primary
      border-width: 0 3px 3px 0
      padding: 1rem
      display: inline-block
      transform: rotate(45deg)
      transition: .25s

      &:hover
        border-width: 0 5px 5px 0

  #aboutSection
    min-height: 50vh
    display: flex
    align-items: center
    justify-content: space-around
    margin: 3rem 10rem
    // padding-top: 15rem

    #aboutPic
      height: 250px
      width: 250px
      border: 5px solid $primary
      border-radius: 5px

    p
      font-family: 'Open Sans', sans-serif
      color: $primary
      padding-left: 5.4rem
      font-size: 1.25rem
      line-height: 2

      .first-letter
        color: $highlight
        float: left
        font-family: Georgia
        font-size: 5.5rem
        line-height: 70px
        background-color: $primary
        padding: 3px
        margin-right: .5rem
        border-radius: 5px

  .my-work-section
    height: 90vh
    margin-bottom: 10rem

    #myWorkHeader
      text-align: center
      font-family: 'Open Sans', sans-serif
      color: $primary
      font-size: 2.5rem

    .portfolio
      margin: 5rem 10rem 0rem 10rem
      display: flex
      justify-content: space-around
      flex-wrap: wrap

      a
        text-decoration: none
        padding-bottom: 4rem

        img
          height: 175px
          transition: transform .2s
          box-shadow: -4px 4px 8px $primary

          &:hover
            transform: scale(1.2)

        p
          color: $primary
          text-align: center
          font-family: 'Open Sans', sans-serif

        .live
          background-color: $highlight
          padding: 1px 5px
          border-radius: 2px
          color: #fefefe

          &:hover
            background-color: $secondary

  #ContactSection
    height: 50vh

    .contactHeader
      font-family: 'Open Sans', sans-serif
      text-align: center
      color: $primary
      font-size: 3rem

    a
      text-decoration: none
      text-align: center
      font-size: 2rem
      color: $secondary

      &:hover
        color: $highlight

  #footerSection
    height: 10vh
    display: flex
    justify-content: center

    .link-icons
      font-size: 2rem
      border-top: 1px solid red
      padding: 1rem 15rem

      .fa-twitter
        margin: 0 3rem

      a
        color: #aaaaaa
        transition: .35s

        &:hover
          color: $primary
